#carefor
    padding: 40px 0
    .textbox
        width: 470px
        h1
            font-weight: 700
            font-size: 60px
            margin: 0 0 10px
        h4
            color: #a3a8a3
            font-size: 24px
    .imgbox
        width: 500px
