#ourtrainers
    background-color: #a2c0be
    h1
        font-weight: 700
        font-size: 38px
        margin: 15px 0
        &:hover
            cursor: text
    h3, h4
        font-weight: 300
        font-size: 20px
        margin: 20px 0
        color: #494949
        line-height: 1.4
        &:hover
            cursor: text
    .box
        margin: 0 5px
        .textbox
            padding: 15px
            h2
                padding: 20px 0 0
                font-weight: 300
                font-size: 25px
                &:hover
                    cursor: text
            ul
                display: flex
                li
                    margin-right: 10px
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    background-color: #ffffff
                    width: 30px
                    height: 30px
                    transition: 0.3s
                    &:hover
                        cursor: pointer
                        transform: translateY(-10px)
                    .icon
                        font-size: 12px
                        i
                            &:hover
                                cursor: pointer
        .imgbox
            transition: 0.5s
            &:hover
                box-shadow: 10px 10px #000000
    .wid
        width: 580px
    .bigicon
        i
            font-size: 30px
            color: #ffffff
