#pricingtable
    h1, h2, h3, h4, h5
        &:hover
            cursor: text
    h4
        text-align: start
    .textbox
        width: 580px
        text-align: center
        h1
            font-weight: 700
            font-size: 35px
            margin: 15px 0
        h5
            font-weight: 200
            font-size: 20px
            color: #000000
            margin: 20px 0 50px
            line-height: 1.4
    .box
        color: #ffffff
        background-color: #a2c0be
        padding: 50px 30px
        text-align: center
        h2
            font-size: 25px
        h3
            font-size: 25px
            margin: 20px 0 0
        li
            display: flex
            margin: 25px 0 0
            h4
                font-size: 18px
                margin: 0 0 0 10px
            .through
                text-decoration: line-through
                color: #dbdbdb
        .btn
            padding: 10px 35px
            margin: 60px 0 0
            border-radius: 30px
            background-color: #5b6567
            color: #ffffff
            &:hover
                background-color: #31484e
            h4
                &:hover
                    cursor: pointer
    .premium-color
        background-color: #31484e
        .btn
            background-color: #a2c0be
            &:hover
                background-color: #000000
    .bigicon
        i
            font-size: 30px
            color: #a2c0be
    @media ( max-width: 992px )
        .box
            margin-bottom: 20px
