#questions
    h1, h3, p
        &:hover
            cursor: text
    h2, h4, .icon, i
        &:hover
            cursor: pointer
    .wid
        width: 580px
    h1
        margin: 15px 0
        font-weight: 700
        font-size: 36px
    h3
        font-size: 20px
        margin: 0 0 40px
        line-height: 1.4
        color: #949494
    .textbox
        padding: 0 70px
        h2, h4
            margin: 0 0 0 10px
            font-size: 25px
            color: #717171
        .minibox
            margin: 20px 0 0 0
            .icon
                display: flex
                justify-content: center
                align-items: center
                color: #ffffff
                border-radius: 50%
                min-width: 32px
                min-height: 32px
                max-width: 32px
                max-height: 32px
                background-color: #a2c0be
            h2
                margin: 0 0 0 10px
        p
            font-size: 20px
            margin: 25px 0 40px 40px
            color: #949494
            line-height: 1.4
        li
            margin: 17px 0 0
            display: flex
            .icon
                display: flex
                justify-content: center
                align-items: center
                min-width: 32px
                min-height: 32px
                max-width: 32px
                max-height: 32px
                border-radius: 50%
                color: #949494
                border: 1px solid #a2c0be
    .bigicon
        color: #a2c0be
        i
            font-size: 30px
    .imgbox
        width: 560px
    @media ( max-width: 1200px )
        .textbox
            padding: 0
    @media ( max-width: 992px )
        .media
            flex-direction: column-reverse
            .imgbox
                width: auto
