#services
    padding: 40px 0
    .wid
        width: 580px
    h1
        font-weight: 700
        font-size: 35px
        margin: 15px 0
    h3
        color: #c6c6c6
        font-size: 20px
        margin: 30px 0
        line-height: 1.4
    .textbox
        padding: 30px 40px
        h2
            margin: 20px 0 0
            color: #757575
            font-size: 25px
        h3
            margin: 30px 0 0
        .icon
            font-size: 60px
            color: #93c2f4
        .bone-color
            color: #e9e084
        .medicial-fen-color
            color: #e95c5c
    .bigicon
        i
            font-size: 30px
            color: #5e8385
