body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 60px 0;
}

#carefor {
  background-color: #f8f9fa;
}
#carefor .textbox {
  width: 470px;
}
#carefor .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0 0 10px;
  line-height: 1.4;
}
#carefor .textbox h1:hover {
  cursor: text;
}
#carefor .textbox h4 {
  color: #a3a8a3;
  font-size: 24px;
  font-weight: 100;
}
#carefor .textbox h4:hover {
  cursor: text;
}
#carefor .imgbox {
  width: 450px;
}
@media (max-width: 768px) {
  #carefor .textbox {
    text-align: center;
    width: auto;
  }
  #carefor .textbox h1 {
    margin-top: 50px;
    font-size: 30px;
  }
  #carefor .textbox h4 {
    font-size: 18px;
  }
}

#welcome .textbox {
  padding: 80px;
}
#welcome .textbox .icon {
  color: #a2c0be;
}
#welcome .textbox .icon i {
  font-size: 30px;
}
#welcome .textbox h1:hover, #welcome .textbox h2:hover, #welcome .textbox h3:hover, #welcome .textbox h6:hover {
  cursor: text;
}
#welcome .textbox h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 15px 0;
}
#welcome .textbox h3 {
  color: #848684;
  margin: 20px 0 40px;
  font-size: 20px;
  line-height: 1.4;
}
#welcome .textbox h2, #welcome .textbox h6 {
  margin: 15px 0;
}
#welcome .textbox h2 {
  font-size: 33px;
}
#welcome .textbox h6 {
  font-size: 18px;
  line-height: 1.7;
  color: #848684;
}
#welcome .textbox .btn {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #a2c0be;
  color: #ffffff;
}
#welcome .textbox .btn:hover {
  background-color: #000000;
}
#welcome .textbox .btn h5:hover {
  cursor: pointer;
}
#welcome .wid {
  width: 580px;
  padding: 0;
}
#welcome .end {
  text-align: end;
}
#welcome .start {
  text-align: start;
}
#welcome .imgbox {
  transition: 0.5s;
}
#welcome .imgbox:hover {
  box-shadow: 10px 10px #a2c0be;
}
#welcome .imgbox img:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  #welcome .media {
    flex-direction: column-reverse;
  }
  #welcome .end {
    text-align: start;
  }
  #welcome .textbox {
    padding: 0;
  }
  #welcome .textbox .btn {
    margin-bottom: 20px;
  }
}

#aboutus .textbox {
  padding: 0 100px;
}
#aboutus .textbox h1:hover, #aboutus .textbox h3:hover, #aboutus .textbox h4:hover, #aboutus .textbox p:hover {
  cursor: text;
}
#aboutus .textbox h1 {
  font-weight: 500;
  font-size: 35px;
  margin: 15px 0;
}
#aboutus .textbox h3, #aboutus .textbox p {
  color: #a8a8a8;
  font-weight: 100;
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 1.6;
}
#aboutus .textbox p {
  color: #949494;
  font-size: 20px;
  line-height: 1.4;
}
#aboutus .textbox li {
  display: flex;
  padding: 20px 0 0 0;
}
#aboutus .textbox li .icon {
  padding: 0 15px 0 0;
  color: #a2c0be;
}
#aboutus .textbox h4 {
  font-size: 20px;
  color: #423737;
}
#aboutus .imgbox img:hover {
  cursor: pointer;
}
#aboutus .bigicon i {
  font-size: 30px;
  color: #a2c0be;
}
@media (max-width: 992px) {
  #aboutus .textbox {
    padding: 0;
  }
  #aboutus .imgbox {
    margin-top: 50px;
  }
}

#ourtrainers {
  background-color: #a2c0be;
}
#ourtrainers h1 {
  font-weight: 700;
  font-size: 38px;
  margin: 15px 0;
}
#ourtrainers h1:hover {
  cursor: text;
}
#ourtrainers h3, #ourtrainers h4 {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
  color: #494949;
  line-height: 1.4;
}
#ourtrainers h3:hover, #ourtrainers h4:hover {
  cursor: text;
}
#ourtrainers .box {
  margin: 0 5px;
}
#ourtrainers .box .textbox {
  padding: 15px;
}
#ourtrainers .box .textbox h2 {
  padding: 20px 0 0;
  font-weight: 300;
  font-size: 25px;
}
#ourtrainers .box .textbox h2:hover {
  cursor: text;
}
#ourtrainers .box .textbox ul {
  display: flex;
}
#ourtrainers .box .textbox ul li {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
#ourtrainers .box .textbox ul li:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
#ourtrainers .box .textbox ul li .icon {
  font-size: 12px;
}
#ourtrainers .box .textbox ul li .icon i:hover {
  cursor: pointer;
}
#ourtrainers .box .imgbox {
  transition: 0.5s;
}
#ourtrainers .box .imgbox:hover {
  box-shadow: 10px 10px #000000;
}
#ourtrainers .wid {
  width: 580px;
}
#ourtrainers .bigicon i {
  font-size: 30px;
  color: #ffffff;
}

#pricingtable h1:hover, #pricingtable h2:hover, #pricingtable h3:hover, #pricingtable h4:hover, #pricingtable h5:hover {
  cursor: text;
}
#pricingtable h4 {
  text-align: start;
}
#pricingtable .textbox {
  width: 580px;
  text-align: center;
}
#pricingtable .textbox h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0;
}
#pricingtable .textbox h5 {
  font-weight: 200;
  font-size: 20px;
  color: #000000;
  margin: 20px 0 50px;
  line-height: 1.4;
}
#pricingtable .box {
  color: #ffffff;
  background-color: #a2c0be;
  padding: 50px 30px;
  text-align: center;
}
#pricingtable .box h2 {
  font-size: 25px;
}
#pricingtable .box h3 {
  font-size: 25px;
  margin: 20px 0 0;
}
#pricingtable .box li {
  display: flex;
  margin: 25px 0 0;
}
#pricingtable .box li h4 {
  font-size: 18px;
  margin: 0 0 0 10px;
}
#pricingtable .box li .through {
  text-decoration: line-through;
  color: #dbdbdb;
}
#pricingtable .box .btn {
  padding: 10px 35px;
  margin: 60px 0 0;
  border-radius: 30px;
  background-color: #5b6567;
  color: #ffffff;
}
#pricingtable .box .btn:hover {
  background-color: #31484e;
}
#pricingtable .box .btn h4:hover {
  cursor: pointer;
}
#pricingtable .premium-color {
  background-color: #31484e;
}
#pricingtable .premium-color .btn {
  background-color: #a2c0be;
}
#pricingtable .premium-color .btn:hover {
  background-color: #000000;
}
#pricingtable .bigicon i {
  font-size: 30px;
  color: #a2c0be;
}
@media (max-width: 992px) {
  #pricingtable .box {
    margin-bottom: 20px;
  }
}

#questions h1:hover, #questions h3:hover, #questions p:hover {
  cursor: text;
}
#questions h2:hover, #questions h4:hover, #questions .icon:hover, #questions i:hover {
  cursor: pointer;
}
#questions .wid {
  width: 580px;
}
#questions h1 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 36px;
}
#questions h3 {
  font-size: 20px;
  margin: 0 0 40px;
  line-height: 1.4;
  color: #949494;
}
#questions .textbox {
  padding: 0 70px;
}
#questions .textbox h2, #questions .textbox h4 {
  margin: 0 0 0 10px;
  font-size: 25px;
  color: #717171;
}
#questions .textbox .minibox {
  margin: 20px 0 0 0;
}
#questions .textbox .minibox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  background-color: #a2c0be;
}
#questions .textbox .minibox h2 {
  margin: 0 0 0 10px;
}
#questions .textbox p {
  font-size: 20px;
  margin: 25px 0 40px 40px;
  color: #949494;
  line-height: 1.4;
}
#questions .textbox li {
  margin: 17px 0 0;
  display: flex;
}
#questions .textbox li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  color: #949494;
  border: 1px solid #a2c0be;
}
#questions .bigicon {
  color: #a2c0be;
}
#questions .bigicon i {
  font-size: 30px;
}
#questions .imgbox {
  width: 560px;
}
@media (max-width: 1200px) {
  #questions .textbox {
    padding: 0;
  }
}
@media (max-width: 992px) {
  #questions .media {
    flex-direction: column-reverse;
  }
  #questions .media .imgbox {
    width: auto;
  }
}

#dogger h1:hover, #dogger h3:hover, #dogger h5:hover, #dogger p:hover {
  cursor: text;
}
#dogger .wid {
  width: 580px;
}
#dogger .wid h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0;
}
#dogger .wid h3 {
  font-size: 20px;
  margin: 30px 0 60px;
  line-height: 1.4;
  color: #8f8686;
}
#dogger .wid .icon i {
  font-size: 30px;
  color: #a2c0be;
}
#dogger .box {
  display: flex;
}
#dogger .box .imgbox {
  width: 300px;
  height: 200px;
}
#dogger .box .imgbox img:hover {
  cursor: pointer;
}
#dogger .box .textbox {
  margin: 0 0 0 20px;
}
#dogger .box .textbox h2 {
  font-size: 20px;
}
#dogger .box .textbox h2:hover {
  cursor: pointer;
  color: #a2c0be;
}
#dogger .box .textbox h4, #dogger .box .textbox h5 {
  font-size: 18px;
}
#dogger .box .textbox h5 {
  color: #aba8a8;
}
#dogger .box .textbox h4 {
  color: #c0e3e0;
  margin: 20px 0 40px;
}
#dogger .box .textbox h4:hover {
  cursor: pointer;
  color: #a2c0be;
}
#dogger .box .textbox p {
  font-size: 18px;
  color: #8f8686;
  line-height: 1.4;
}
#dogger .box .textbox p, #dogger .box .textbox h5 {
  margin: 20px 0 0;
}
@media (max-width: 992px) {
  #dogger .box {
    display: block;
  }
  #dogger .box .imgbox {
    width: auto;
    height: auto;
    margin: 20px 0;
  }
}

#services h1:hover, #services h2:hover, #services h3:hover {
  cursor: text;
}
#services .wid {
  width: 580px;
}
#services .wid .icon i {
  font-size: 30px;
  color: #a2c0be;
}
#services h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0;
}
#services h3 {
  color: #c6c6c6;
  font-size: 20px;
  margin: 30px 0;
  line-height: 1.4;
}
#services .textbox {
  padding: 30px 40px;
}
#services .textbox h2 {
  margin: 20px 0 0;
  color: #757575;
  font-size: 25px;
}
#services .textbox h3 {
  margin: 30px 0 0;
}
#services .textbox .imgbox {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}
@media (max-width: 992px) {
  #services .textbox {
    padding: 0;
  }
  #services .textbox .imgbox {
    margin: 35px 0 30px;
  }
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}
header .text h1 {
  font-weight: 400;
  font-size: 35px;
}
header .text h1:hover {
  cursor: pointer;
}
header .menu nav a {
  color: #535252;
  margin-right: 35px;
  font-size: 20px;
}
header .menu nav a:hover {
  cursor: pointer;
  color: #000000;
}
header .minimenu {
  display: none;
}
@media (max-width: 992px) {
  header .menu {
    display: none;
  }
  header .minimenu {
    display: block;
  }
}

footer {
  background-color: #2e2c2c;
}
footer h1:hover, footer h2:hover, footer p:hover {
  cursor: text;
}
footer h1 {
  color: #ffffff;
  margin: 100px 0 30px;
}
footer p {
  color: #747272;
  line-height: 1.4;
}
footer .menu nav {
  display: flex;
  flex-direction: column;
}
footer .menu nav a {
  color: #747272;
  margin-bottom: 20px;
}
footer .menu nav a:hover {
  cursor: pointer;
  color: #ffffff;
}
footer ul {
  display: flex;
  color: #747272;
}
footer ul li {
  margin-right: 20px;
}
footer ul li .icon i:hover {
  cursor: pointer;
  color: #ffffff;
}
footer .box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
footer .box input {
  background-color: #2e2c2c;
  border: 1px solid #747272;
  height: 41px;
  color: #ffffff;
}
footer .box .btn {
  background-color: #ffffff;
}
footer .box .btn h5:hover {
  cursor: pointer;
}
footer h2 {
  color: #747272;
  font-size: 15px;
  margin: 100px 0 150px;
}
footer span {
  color: #a7a4a4;
}
footer span:hover {
  cursor: pointer;
}

#gallery .textbox .icon i {
  font-size: 30px;
  color: #a2c0be;
}
#gallery .textbox h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0 50px;
}
#gallery .textbox h1:hover {
  cursor: text;
}
#gallery .imgbox {
  position: relative;
  transition: 0.3s;
}
#gallery .imgbox:hover {
  transform: scale(1.2);
  z-index: 5;
}
#gallery .imgbox img:hover {
  cursor: zoom-in;
}

#contact .color {
  background-color: #a2c0be;
}
#contact .box h2 {
  font-size: 25px;
  margin: 30px 0 40px;
}
#contact .box h2:hover {
  cursor: text;
}
#contact .box .textbox .minibox {
  display: flex;
  flex-direction: column;
}
#contact .box .textbox .minibox label {
  color: #747272;
  margin: 20px 0 10px;
}
#contact .box .textbox .minibox textarea {
  color: #747272;
  height: 100px;
  border-radius: 5px;
}
#contact .box .textbox .minibox textarea:hover {
  cursor: text;
}
#contact .box .btn {
  width: 150px;
  background-color: #373636;
  border-radius: 30px;
  margin: 20px 0 50px;
}
#contact .box .btn:hover {
  background-color: #000000;
}
#contact .box .btn h5 {
  color: #ffffff;
}
#contact .box .btn h5:hover {
  cursor: pointer;
}
#contact .black {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6c757d;
}
#contact .black .icon i {
  font-size: 30px;
  color: #a2c0be;
  margin: 50px 0 20px;
}
#contact .black h1:hover, #contact .black h3:hover, #contact .black h4:hover {
  cursor: text;
}
#contact .black h1 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0;
  color: #ffffff;
}
#contact .black .minibox h3 {
  color: #ffffff;
  margin: 30px 0 10px;
}
#contact .black .minibox h4 {
  color: #bfbcbc;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */